.main {
    margin-top: 9vh;
    width: 100%;
    max-width: 100vw;
}

@media screen and (max-width: 940px) {
    .main {
        margin-top: 10vh;
    }
}


@media screen and (max-width: 768px) {
    .main {
        margin-top: 7vh;
    }
}
@media screen and (max-width: 440px) {
    .main {
        margin-top: 6.3vh;
    }
}



@media screen and (max-width: 320px) {
    .main {
        margin-top: 6vh;
    }
}


@media screen and (max-width: 220px) {
    .main {
        margin-top: 5vh;
    }
}