.navbar {
    width: 100%;
    height: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center !important;
    background-color: hsl(0 0% 0% / 0.1);
    padding: .8rem 6%;
    position: fixed;
    top: -6%; left: 0; right: 0; bottom: 0;
    transition: .7s linear;
    transition-delay: .1s;
    opacity: 0.1;
    z-index: 9999;
  }

.navbar.active {
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    text-align: center;
    align-items: center !important;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    transition: .4s linear;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0 0% 10% / 0.95);
       
    box-sizing: border-box;
    box-shadow: 0px 0px 8px  rgba(22, 22, 22, 0.781);
    z-index: 40;
    padding: 1rem 6%;
    opacity: 1;
  }
.navLogo  {
    width: 80px;
    
}   
  
.navbar .socialMedia {
    opacity: 0;
    transition: .8s linear;
}
.navbar.active .socialMedia {
    opacity: 1;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 100%;
}
.navbar .navLinks {
    position: relative;
    text-align: center;
    padding-top: 0.6rem;
}

.navList .navLinks a{
    margin: 0 1rem;
    color: rgb(146, 146, 146);
    transition: .2s linear;
    text-decoration: none;
    font-size: calc(.3rem + 0.2vw + 0.1vh + 1vmin);
    position: relative;
    padding-bottom: 10px;
}

.navLinks a::before {
    content: '';
    position: absolute;
    bottom: 0; left: 50%; right: 50%;
    width: 0%;
    margin: auto;
    height: 2px;
    background: #b87209;
    transition: .2s linear;
    transition-delay: .1s ;
}
.navLinks:hover a::before {
    width: 60%;
    margin: auto;
    left: 0; right: 0;
    color: #ebe8e8;  
}
.navLinks .activeTab::before {
    width: 60%;
    margin: auto;
    left: 0; right: 0;
    color: #ebe8e8;  
}
.navLinks a.activeTab {
    color: #d8d6d6;
}

.navLinks:hover a {
    color: #d8d6d6;
}

ul.active {
    display: none;
}

.navbar .socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    background: white;
    border-radius: 30px;
    box-shadow: inset 0px 0px 4px 1px #08080893 , -2px -3px 5px  #c2b38469;
    padding: .3rem;
}
.navbar .socialMedia a {
    margin: 0 .6rem;
    color: rgb(79, 79, 85);
    text-decoration: none;
}
.navbar.active .socialMedia .facebook:hover {
    color: rgb(32, 113, 218);
    transition: .2s linear;
}
.navbar.active .socialMedia .instagram:hover {
    color: rgb(218, 32, 103);
    transition: .2s linear;
}
.navList .socialMedia {
    display: none;
}


.hamburger {
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(240, 238, 238);
    box-shadow: none !important;
}
.bar:nth-child(2) {
    height: 2px;
    background-color: rgb(214, 143, 11);
    z-index: 99;
  
}


@media screen and (max-width: 940px) {
    .hamburger {
        display: block;
        cursor: pointer;
        border: none;
        outline: none;
        padding: 0 .3rem;
        margin: 0;
        background: rgb(255, 255, 255, 0.1);
        border-radius: 3px;
        box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5), 
                    0 0 3px 1px rgba(0, 0, 0, 0.125);
        z-index: 999;
    }
   

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        height: 2px;
       
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(9px) rotate(45deg);
        transform: translateY(9px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-9px) rotate(-45deg);
        transform: translateY(-9px) rotate(-45deg);
    }

    /* Navbar */
   
    .navLogo {
        z-index: 99999;
        width: 70px;
        padding: 3rem 0 !important;
    }
   
    .navbar .socialMedia {
        display: none;
    }
    ul.active .socialMedia {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        position: relative;
        bottom: -10%; 
        margin: 0 auto;
        padding: 1rem !important;
        margin-top: 3rem;
        border-radius: unset;
        box-shadow: none;
        background-color: #252525;
       
    }
     ul.active .socialMedia a{
        color: #1a1b1d;
        
        animation: spin 3s infinite alternate-reverse
     }
     @keyframes spin {
        0% {
            transform: rotate(0deg);
            color: #202124;
            transition: color 0.5s linear;
        }
        100% {
            transform: rotate(360deg);
            color: #c9c9c9;
            transition: color 0.5s linear;
        }
    }
    .navbar ul.active {
        left: -100%;
    }
    .navbar.active ul.active {
        left: 0; 
        height: 100vh;
    }
    .navList {
        position: fixed;
        left: -100%; top: 0; 
        height: 100%;
        display: flex;
        flex-direction: column;
        opacity: 0;
        width: 100%;
        text-align: center;
        transition: .2s linear;   
    }
    .navList a {
        display: none;
    }


   .activeTab::before {
    display: none;
   }
    ul.active {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        height: 100vh;
        position: fixed;
        left: 0; right: 0; top: 0;
        margin: 0;
        background-color: hsl(0 0% 0% / 0.93);
        -webkit-backdrop-filter: blur(4px);
        backdrop-filter: blur(4px);
        transition: .3s ease-in-out;
        opacity: 1;
        text-align: center;
       
    }
    .navbar.active ul.active {
        margin: 0;
        padding: 0;
        height: 100vh;
    }
    .ul.active .navLinks {
        margin: 0 auto;
        width: 100%;
       
    }
    ul.active .navLinks a{
        color: rgb(209, 209, 209);
        line-height: 5.2rem;
        font-size: calc(0.8rem + 0.6vw + 0.6vh + 1vmin);
        text-decoration: none;
    }
 
}

@media screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        height: 4rem;
    }
    .navbar.active {
        height: 4rem;
    }
   
    .navLogo {
        width: 70px;
        padding: 0.3rem !important;     
    }
    ul.active .navLinks a{
        font-size: calc(.8rem + 0.5vw + 0.5vh + 1vmin);
        line-height: 4.3rem;
      
    }
    ul.active .socialMedia {
        
        padding: .8rem;
    }
}


@media screen and (max-width: 480px) {
    .navbar {
        width: 100%;
        height: 3.5rem;
    }
    .navbar.active {
        height: 3.5rem;
    }
   
    
    .navLogo {
        width: 60px;
       
    }
    ul.active .navLinks a{
        font-size: calc(0.625rem + 0.5vw + 0.5vh + 1vmin);
        line-height: 3.3rem;
    }
    ul.active .socialMedia {
        
        padding: .3rem;
    }
}


@media screen and (max-width: 220px) {
    .navbar {
        width: 100%;
        height: 3rem;
    }
    .navbar.active {
        height: 3rem;
    }
   
    
    .navLogo {
        width: 50px;
       
    }
    ul.active .navLinks a{
        font-size: calc(0.625rem + 0.5vw + 0.5vh + 1vmin);
        line-height: 3rem;
    }
    ul.active .socialMedia {
        
        padding: .2rem;
    }
}